body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightsteelblue;
}

.container{
    background-color: cornflowerblue;
    margin: 15% 20% 5% 20%;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    font-family: cursive;
    font-weight: 650;
    border-width: 6px;
}

.dedykacja{
    font-size: 600%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text{
   font-size: 160%;
   margin-bottom: 2%;
   font-family: cursive;
    font-weight: 800;
}
.text:hover{
    background-color: darkgray;
}
.przycisk{
    font-size: 160%;
    margin-bottom: 5%;
    font-family: cursive;
    font-weight: 800;
}
.przycisk:hover{
    background: darkgray;
}

.msg-status{
    display: none;
    text-align: center;
    width: 30%;
    height: 5%;
}

.success{
    display: flex;
    background-color: cornflowerblue;
}

.error{
    display: flex;
    background-color: cornflowerblue;
}